.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 120px;
}
.slider {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
  &__title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .slider__next {
    flex-shrink: 1;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-top: 70px;
    background: unset;
    border: none;
    position: relative;
    img {
      position: absolute;
      left: -10px;
      top: -7px;
      width: 40px;
    }
  }
  .slider__back {
    flex-shrink: 1;
    z-index: 1;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-top: 70px;
    background: unset;
    border: none;
    position: relative;
    img {
      position: absolute;
      left: -4px;
      top: -7px;
      width: 40px;
    }
  }
  &__block {
    display: flex;
    max-width: 1200px;
    overflow: hidden;
    .slider__list {
      display: flex;
      transition: all 1s;
      .slider__item {
        margin: 0px 10px;
        .slider__content {
          width: 220px;
          height: 200px;
          filter: brightness(0.6);
          object-fit: cover;
        }
      }
    }
  }
}
