.slider {
  margin-top: -65px;
  &__title {
    margin-left: 19.5%;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
  }
  &__block {
    display: flex;
    justify-content: space-around;
    .slider__back {
      background: unset;
      border: none;
      position: relative;
      img {
        position: absolute;
        left: 160px;
        top: 66px;
        width: 40px;
      }
    }
    .slider__next {
      background: unset;
      border: none;
      position: relative;
      img {
        position: absolute;
        right: 160px;
        top: 66px;
        width: 40px;
      }
    }
    .slider__list {
      display: flex;
      .slider__item {
        margin: 0px 8px;
        .slider__content {
          z-index: 1;
          width: 222px;
          filter: brightness(0.6);
        }
        &.first {
          filter: brightness(0.4);
          transform: scale(0.7) translate(60%, 0%);
        }
        &.last {
          z-index: -1;
          filter: brightness(0.4);
          transform: scale(0.7) translate(-60%, 0%);
        }
      }
    }
  }
}
